%h1 Video list

.spacer

%table
  %tr
    %th Id
    %th Filename
    %th Domain
    %th Size
    %th VideoId
    %th Original
    %th Sent?
    %th HeywatchSuccess?
    %th Encoded
    %th Thumbnail
    %th CreatedAt
    %th -
  - @videos.each do |video|
    %tr
      %td= video.id
      %td= video.filename
      %td= video.application_domain
      %td{ :align => 'right' }= number_to_human_size(video.size)
      %td= video.video_id
      %td= s3_link(video.original)
      %td= video.sent_to_heywatch
      %td= video.successfully_encoded
      %td= s3_link(video.encoded)
      %td= s3_link(video.thumbnail)
      %td= video.created_at.strftime("%Y/%m/%d %H:%M")
      %td
        = link_to 'Show', url(:video, video)
        = link_to 'Edit', url(:edit_video, video)
